<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Though the below css link is not correct...node internal finds this path from 'public' directory as we set the public directory in app.js-->
    <link rel="stylesheet" href="css/styles.css"/>
   
    <title>Document</title>
</head>
<body>
        {{>header}}
        <br>
        <form>
            <input></input>
            <button>Search</button>
            <p id="output"></p>
        </form>
        {{>footer}}
         <script src="js/client-side-js.js"></script>
</body>
</html>